.footer{
    color: white;
    background: #673ab7;
    bottom: 0%;
}
.social li a img{
    transition: transform .5s all;
    cursor: pointer;  
}
.social li a img:hover{
    transition: transform .5s all;
    transform: scale(1.2) rotate(360deg);

}
a{
    color: white;
}
textarea{
    resize: none;
}
.footer-div{
    margin-bottom: 3%;
}