
<!--Footer-->
<div class="page-footer  footer font-small stylish-color-dark pt-1 mt-4">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-4 footer-div text-center">
                <div class="feedback">
                    <h4 class="font-weight-bold mb-4 mt-3">Give us feedback</h4>                 
                    <form [formGroup] = 'form' (ngSubmit) = "submit(form.value)">
                        <mat-form-field class="a w-75">
                            <input matInput type="email" placeholder="Email">
                        </mat-form-field>
                        <br />
                        <mat-form-field class="b w-75">
                            <textarea matInput placeholder="Comment" matTextareaAutosize matAutosizeMinRows="2"
                            matAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                        <br />
                        <button class="mt-3 btn btn-outline-light">Submit</button>
                    </form>
                </div> 
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 text-left">
                            <h4 class="mb-4 mt-3 font-weight-bold">Sitemap</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">Home</a>
                                </li>
                                <li>
                                    <a href="#!">Apply for Job</a>
                                </li>
                                <li>
                                    <a href="#!">Apply for Tutor</a>
                                </li>
                                <li>
                                    <a href="#!">About</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 text-left">
                            <h4 class=" mb-4 mt-3 font-weight-bold">Contact Us</h4>
                            <ul class="list-unstyled">
                                <li>
                                        <b>UAN:</b> 0306-768-8662
                                </li>
                                <li>
                                        <b>Tel:</b> +923367015536
                                </li>
                                <li>
                                        <b>Email:</b> TechDartOfficial@gmail.com
                                </li>
                                <li>
                                        <b>Address:</b> D-Ground p5/12 FSD
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4 class="follow mb-4 font-weight-bold mt-3">Follow us</h4>
                            <ul class="list-unstyled list-inline social">
                                <li class="list-inline-item">
                                    <a>
                                        <img src="assets/images/facebook.png" alt="">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a >
                                        <img src="assets/images/linkedin.png" alt="">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a >
                                        <img src="assets/images/mail.png" alt="" style="width: 40px;height: 40px;"> 
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a >
                                        <img src="assets/images/twitter.png" alt="" >
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div style="margin-top: 15vh;">
                        <p class="copyright"><b style="word-spacing: 10px;">Copyright © 2018 TechDart. All rights reserved.</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    