.form-fields{
    width: 100%;
}
.form_elements{
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
}
.form-fields_down{
    margin-top: 5%;
}
.form-fields_down_more{
    margin-top: 7%;
}