<h1>Videos</h1>

<div id="info_row" (window:scroll) = "scrolling()" (window:resize) = "small()">
  <div class="container-fluid mt-4 text-left pr-5">
    <div class="row" id="element1">
      <div class="col-md-6">
        <img src="assets/images/goals.png" class="img-fluid">
      </div>
      <div class="col-md-6">
        <div class="col-md-8 ml-auto mr-auto margin-top">
            <h1>Goals</h1>
            <p>Our main goal is to
                provide better Home Tutors to secure your Child's future with optimistic and skilful Teachers. 
                We provide you skilful Tutors that enhance your Child's capabilities. By Learning from Tutors your Child's 
                show extraordinary resuls in every field of life. 
            </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-4 text-left pr-5">
    <div class="row" id="element2">
      <div class="col-md-6">
        <img src="assets/images/privacy1.png" class="img-fluid">
      </div>
      <div class="col-md-6">
        <div class="col-md-8 ml-auto mr-auto margin-top" >
          <h1>Privacy</h1>
          <p>We are taking care of your data and information, Our team are continuously working hard 
              to secure your data. Your data is very important to us. Your privacy is our main concern. 
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-4 text-left pr-5">
    <div class="row" id="element3">
      <div class="col-md-6">
        <img src="..." alt="Images">
      </div>
      <div class="col-md-6">
        <div class="col-md-8 ml-auto mr-auto margin-top">
          <h1>Team</h1>
          <p>We are Software Development team. we are TechDart team. We provide best services for our clients. 
          We provide services like (Application development, Web Development , SEO, ETC.)
          Our Team members are continuously working hard to facilitate your Child with better Home 
          Tutors. We are working Hard because we believe in Hard work.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-4 text-left pr-5">
    <div class="row" id="element4">
      <div class="col-md-6">
        <img src="assets/images/contract.png" class=" img-fluid">
      </div>
      <div class="col-md-6">
        <div class="col-md-8 ml-auto mr-auto margin-top">
          <h1>Terms of use</h1>
          <p>Our Goals are to blah blah blaha kjashdkajhsd askdhkajsd 
            akjsdhjkasd jkasdhkasd kjahsdkajd dashdkj ashdajkdhajksdhasjkdh kjashdjkahd 
            ajkshdkajd hkajd hkajd hkajd hjkasdhkasjdh kasjd hhk jkahsdkjashd jkahdskjasd jkahsdjkashd
          </p>
        </div>
      </div>
    </div>
  </div>
</div>