.card{
    transition: 0.3s all;
}
.card:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


#element1{
    transition: 1.6s all;
    transform: translateX(-10%);
    opacity: 0;
}
#element2{
    transition: 1.4s all;
    transform: translateX(-10%);
    opacity: 0;
}
#element3{
    transition: 1.2s all;
    transform: translateX(-10%);
    opacity: 0;
}
#element4{
    transition: 1s all;
    transform: translateX(-10%);
    opacity: 0;
}

@keyframes showCard1{
    from {transform: scale(1.02);
        opacity: 0;}
    to {transform: scale(1);
        opacity: 1;}
}

.margin-top{
    margin-top: 5vh;
}