<div class="container-fluid text-center">
  <img src="assets/images/techdart logo.png" class="img-fluid w-25 h-25" alt="">
  <div class="row" >
    <div class="col-md-4 text-center ml-auto mr-auto">
      <div class="card">
        <img class="card-img-top" src="assets/images/study.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mission</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button mat-raised-button color="primary">Learn more</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/study.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mission</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button mat-raised-button color="primary">Learn more</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/study.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mission</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button mat-raised-button color="primary">Learn more</button>
        </div>
      </div>
    </div>
  </div>
</div>