<div class="container-fluid text-center">
  <img src="assets/images/techdart logo.png" class="img-fluid w-25 h-25" alt="">
  <div class="row">
    <div class="col-md-3 text-center ml-auto mr-auto card-div-element">
      <div class="card">
        <img class="card-img-top" src="assets/images/goals.png" alt="Goals image">
        <div class="card-body">
          <h5 class="card-title">Goals</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button mat-raised-button color="primary">Learn more</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 card-div-element">
      <div class="card">
        <img class="card-img-top" src="assets/images/privacy.jpg" alt="Privacy image">
        <div class="card-body">
          <h5 class="card-title">Privacy</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button mat-raised-button color="primary">Learn more</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 card-div-element">
      <div class="card">
        <img class="card-img-top" src="assets/images/team.jpg" alt="Team image">
        <div class="card-body">
          <h5 class="card-title">Team</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button mat-raised-button color="primary">Learn more</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-center ml-auto mr-auto card-div-element">
      <div class="card">
        <img class="card-img-top" src="assets/images/ContractLaw.jpg" alt="Terms of use image">
        <div class="card-body">
          <h5 class="card-title">Terms of use</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button mat-raised-button color="primary">Learn more</button>
        </div>
      </div>
    </div>
  </div>
</div>