<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center mt-3 position-relative" style="width: 17rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Techer name</h5>
                    <p class="card-text">Personal statement...</p>
                    <a href="#" class="btn btn-primary">Apply Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-3 text-center position-relative" style="width: 17rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Techer name</h5>
                    <p class="card-text">Personal statement...</p>
                    <a href="#" class="btn btn-primary">Apply Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center mt-3 position-relative" style="width: 17rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Techer name</h5>
                    <p class="card-text">Personal statement...</p>
                    <a href="#" class="btn btn-primary">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</div>