<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center mt-3 ml-auto mr-auto" style="width: 100%;">
                <img class="card-img-top" src="assets/images/goals.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Techer name</h5>
                    <p class="card-text">Personal statement...</p>
                    <a href="#" class="btn btn-outline-success">Apply Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-3 text-center ml-auto mr-auto" style="width: 100%;">
                <img class="card-img-top" src="assets/images/carasoul_img/child1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Techer name</h5>
                    <p class="card-text">Personal statement...</p>
                    <a href="#" class="btn btn-outline-success">Apply Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center mt-3 ml-auto mr-auto" style="width: 100%;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Techer name</h5>
                    <p class="card-text">Personal statement...</p>
                    <a href="#" class="btn btn-outline-success">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</div>