<div class="row mb-5 ml-0 mr-0">
    <div class="col-md-2"><h5>Advertisement</h5></div>
    <div class="col-md-8">
            <br />    
        <div class="p-1">
            <button class="btn btn-outline-danger" >Report teacher</button>
            <button class="btn btn-outline-success float-right">Hire teacher</button>
        </div>
        <div class="image">
            <img src="assets/images/profile-placeholder.png" alt="">
            <br />
            <h5>Name</h5>
        </div>
        <br />        
        <div class="p-2">
            <button mat-icon-button class="float-right"><mat-icon>edit</mat-icon></button>            
            <h4><b>Personel Statement</b></h4>
            <p class="border p-2 rounded-bottom" style="word-break:break-all; min-height: 30vh;">dsdfjdsdf-----sdf-df-s-df-d-fs-dsdhhjkdhvjkdhvjskdhvjsdkhvakdjhlsajvdh nihef nhfu hf ufh  uwhefuwehfuew</p>
        </div>
        <div class="p-2">
            <button mat-icon-button class="float-right"><mat-icon>edit</mat-icon></button>                        
            <h4><b>Education</b></h4>
            <p class="border  p-2" style="word-break:break-all; min-height: 30vh;">dsdfjdsdf-----sdf-df-s-df-d-feowfqkeqpwrrrklkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww wwopwwwwwwwwwwwwwwwwwws-d</p>
        </div>
        <div class="p-2">
            <button mat-icon-button class="float-right"><mat-icon>edit</mat-icon></button>                        
            <h4><b>Specialiized Subject</b></h4>
            <p class="border  p-2" style="word-break:break-all; min-height: 30vh;">dsdfjdsdf-----sdf-df-s-df-d-feowfqkeqpwrrrklkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww wwopwwwwwwwwwwwwwwwwwws-d</p>
        </div>
    </div>
    <div class="col-md-2"><h5>Advertisement</h5></div>
</div>